* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #1E1E1E;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.col-12 {
    width: 100%;
    padding: 10px;
}

.col-3 {
    width: 33.33%;
    padding: 10px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid #007ACC;
    padding: 10px 50px;
    border-radius: 10px;
}

.btn span {
    background-color: #007ACC;
}
